<div class="container">
  <div class="d-flex justify-content-between align-items-center mb-3">
    <h1 class="title-text">Transaction List</h1>
    <button class="btn btn-danger" (click)="signOut()">Sign Out</button>
  </div>

  <div class="d-flex justify-content-between mb-3">
    <div class="dropdown me-2">
      <button class="btn btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
        aria-expanded="false">{{ selectedFilterDisplayName }}</button>
      <ul class="dropdown-menu dropdown-menu-end">
        <li *ngFor="let filterType of filterTypes">
          <a class="dropdown-item" (click)="chooseFilterType(filterType.displayName)">
            {{ filterType.displayName }}
          </a>
        </li>
      </ul>
    </div>

    <div class="input-group mb-3">
      <div class="position-relative">
        <input type="text" class="form-control p-2" placeholder="Filter transaction" aria-label="Transaction label"
          aria-describedby="button-addon2" [(ngModel)]="filterValue">
        <div class="cancel-search position-absolute" role="button">
          <i class="bi bi-x-lg" (click)="resetFilter()"></i>
        </div>
      </div>

      <button class="btn btn-primary" (click)="performSearch()">Search</button>
    </div>
  </div>

  <div class="container transaction-wrap">
    <div class="row">
      <div class="col-md-1 text-md-end">ID</div>
      <div class="col-md-2 text-md-end">Customer ID</div>
      <div class="col-md-2 text-md-center">Account Number</div>
      <div class="col-md-6 text-md-start">Description</div>
      <div class="col-md-1 text-center">Action</div>
    </div>
    <ng-container *ngFor="let transactionItem of transactions">
      <app-transaction-item [transactionItem]="transactionItem" (editTransactionItem)="editTransactionItem($event)">
      </app-transaction-item>
    </ng-container>
  </div>

  <div class="d-flex align-items-center">
    <!-- Pagination Controls -->
    <nav aria-label="Page navigation example" class="mt-3">
      <ul class="pagination">
        <li class="page-item" [ngClass]="{ disabled: _currentPage === 1 }">
          <a class="page-link" (click)="changePage(_currentPage - 1)">Previous</a>
        </li>
        <li class="page-item" *ngFor="let page of pages" [ngClass]="{ active: page === _currentPage }">
          <a class="page-link" (click)="changePage(page)">{{ page }}</a>
        </li>
        <li class="page-item" [ngClass]="{ disabled: _currentPage === totalPages }">
          <a class="page-link" (click)="changePage(_currentPage + 1)">Next</a>
        </li>
      </ul>
    </nav>

    <!-- Page Size Selector -->
    <div class="ms-3">
      <select class="form-select" [(ngModel)]="_itemsPerPage" (change)="onItemsPerPageChange($event.target.value)">
        <option *ngFor="let size of pageSizes" [value]="size">{{ size }}</option>
      </select>
    </div>
  </div>
</div>
