<div class="container mt-4">
  <h2 class="mb-4">Tasks</h2>
  <ul class="list-group">
    <app-task-item *ngFor="let task of tasks" [task]="task" [canComplete]="canCompleteTask(task)"
      [isDependencyCompleted]="isDependencyCompleted.bind(this)">
    </app-task-item>
  </ul>

  <footer class="mt-4">
    <span class="badge bg-info me-2">[BUG]: {{ getTaskCounts().BUG }}</span>
    <span class="badge bg-info me-2">[IMPR]: {{ getTaskCounts().IMPR }}</span>
    <span class="badge bg-info me-2">[IMPL]: {{ getTaskCounts().IMPL }}</span>
    <span class="badge bg-info">[INFRA]: {{ getTaskCounts().INFRA }}</span>
  </footer>
</div>